.popup__container{
    margin: 195px auto auto auto;
    position: relative;
    width: 430px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    z-index: 1;
}

@media screen and (max-width: 425px){
    .popup__container{
        margin: 123px auto 0 auto;
        width: 282px;
    }
}
