.popup__cancelbutton{
    position: absolute;
    width: 48px;
    height: 48px;
    top: -48px;
    right: -48px;
    background-image: url("../../../images/CloseIcon.svg");
    background-repeat: no-repeat;
    background-color: transparent;
    outline: none;
    border: none;
    background-size: cover;
    box-sizing: border-box;
    padding: 0px;
}

.popup__cancelbutton:hover{
    opacity: 0.6;
    cursor: pointer;
}
@media screen and (max-width: 768px){
    .popup__cancelbutton{
        right: -5px;
        top: -37px;
        width: 37px;
        height: 37px;
    }
}