.profile-info__text{
    max-width: 282px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 16px 0 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
}
    

@media screen and (min-width: 320px) and (max-width: 1023px){
    .profile-info__text{
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin: 0px;
        justify-self: end;
    }
}