.profile-info__text{
    max-width: 282px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
    

@media screen and (max-width: 350px){
    .profile-info__text{
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}