.profile__addbuttonimg{
    width: 22px;
    height: 22px;
    background-color: transparent;
}
@media screen and (max-width: 425px){
    .profile__addbuttonimg{
        width: 16px;
        height: 16px;
    }
}