

@media screen and (min-width: 1024px){
    .popup-form__title{
        margin: 34px auto 0 auto;
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 29px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1023px){
    .popup-form__title{
        margin: 25px auto 0 auto;
        font-style: normal;
        font-weight: 900;
        font-size: 18px;
        line-height: 22px;
    }
}
