@media screen and (min-width: 1024px){
    .pop-up__form{
        display: none;
        position: absolute;
        text-align: center;
        left: calc(50% - 215px);
        width: 430px;
        height: 330px;
        background: #FFFFFF;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        z-index: 1;
    }
}

@media screen and (min-width: 320px) and (max-width: 1023px){
    .pop-up__form{
        display: none;
        position: absolute;
        text-align: center;
        background: #FFFFFF;
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        left: calc(50% - 141px);
        z-index: 1;
        width: 282px;
        height: 322px;
    }
}

.pop-up__form_opened{
    display: block;
}
