
@media screen and (min-width: 1024px){
    .popup-form__savebutton{
        margin: 47px auto 0 auto;
        width: 358px;
        height: 50px;
        background: #000000;
        border-radius: 2px;
        color: white;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        opacity: 1;
    }
}

.popup-form__savebutton:hover{
    opacity: 0.6;
    cursor: pointer;
}


@media screen and (min-width: 320px) and (max-width: 1023px){
    .popup-form__savebutton{
        margin: 45px auto 0 auto;
        width: 238px;
        height: 50px;
        background: #000000;
        border-radius: 2px;
        color: white;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        opacity: 1;
    }
}