.table{
    max-width: 880px;
    margin: 51px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    column-gap: 17px;
    row-gap: 20px;
} 

@media screen and (max-width: 599px){
    .table{
        margin: 36px auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6,1fr);
    }
}
@media screen and (min-width: 600px) and (max-width: 1023px){
    .table{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
    }
}