.profile__addbutton{
    margin: auto 0px auto auto;
    background-color: black;
    width: 150px;
    height: 50px;
    padding: 0px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
}

@media screen and (min-width: 320px) and (max-width: 1023px){
    .profile__addbutton{
        margin: 36px auto 0 auto;
        width: 282px;
    }
}
.profile__addbutton:hover{
    opacity: 0.6;
    cursor: pointer;
}
