@import url("../blocks/page/page.css");
@import url("../vendors/normalize.css");
@import url("../fonts/fonts.css");

@import url("../blocks/header/header.css");
@import url("../blocks/header/__bottom-line/header__bottom-line.css");

@import url("../blocks/header/__logo/header__logo.css");

@import url("../blocks/container/container.css");

@import url("../blocks/profile/profile.css");
@import url("../blocks/profile/__avatar/profile__avatar.css");
@import url("../blocks/profile/__addbutton/profile__addbutton.css");


@import url("../blocks/profile-info/profile-info.css");
@import url("../blocks/profile-info/__title/profile-info__title.css");
@import url("../blocks/profile-info/__text/profile-info__text.css");
@import url("../blocks/profile-info/__editbutton/profile-info__editbutton.css");


@import url("../blocks/table/table.css");
@import url("../blocks/table/__element/table__element.css");
@import url("../blocks/table/__image/table__image.css");
@import url("../blocks/table/__text-container/table__text-container.css");

@import url("../blocks/table/__like-icon/table__like-icon.css");

@import url("../blocks/table/__title/table__title.css");

@import url("../blocks/footer/footer.css");
@import url("../blocks/footer/__text/footer__text.css");

@import url("../blocks/popup/popup.css");
@import url("../blocks/popup/_active/popup_active.css");

@import url("../blocks/popup-form/popup-form.css");
@import url("../blocks/popup-form/_opened/popup-form_opened.css");
@import url("../blocks/popup-form/__title/popup-form__title.css");
@import url("../blocks/popup-form/__jobinput/popup-form__jobinput.css");
@import url("../blocks/popup-form/__nameinput/popup-form__nameinput.css");
@import url("../blocks/popup-form/__savebutton/popup-form__savebutton.css");
@import url("../blocks/popup-form/__cancelbutton/popup-form__cancelbutton.css");
