.profile-info{
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 18px;
    row-gap: 14px;
    margin: 22px auto 0 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 336px;
}  

@media screen and (max-width: 350px){
    .profile-info{
        grid-template-columns: repeat(2, auto);
        column-gap: 10px;
        grid-auto-columns: auto;
        margin: 22px 19px 0 19px;
    }

}
@media screen and (min-width: 1024px){
    .profile-info{
        margin: 22px 0 0 0;
    }
}