

@media screen and (min-width: 1024px){
    .profile-info{
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: 18px;
        margin: 22px 0 0 0;
    }  
}
@media screen and (min-width: 320px) and (max-width: 1023px){
    .profile-info{
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 10px;
        row-gap: 14px;
        margin: 22px 0 0 0;
        grid-auto-columns: auto;
        
    }

}