.table__like-icon{
    width: 21px;
    height: 19px;
    margin: auto 22px auto auto;
    background-image: url("../../../images/LikeIcon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    background-color: white;
    border: 0 none;
    outline: 0;
    padding: 0 0 0 21px;
}
.table__like-icon:hover{
    opacity: 0.5;
    cursor: pointer;
}