
@media screen and (min-width: 1024px){
    .popup-form__jobinput{
        outline: 0;
        border-width: 0 0 1px;
        width: 358px;
        height: 14px;
        margin: 30px auto 0 auto;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 13px;   
    }
}

@media screen and (min-width: 320px) and (max-width: 1023px){
    .popup-form__jobinput{
        outline: 0;
        border-width: 0 0 1px;
        width: 238px;
        height: 14px;
        margin: 30px auto 0 auto;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        padding-bottom: 13px;   
    }
}
.popup-form__jobinput:focus{
   
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 2px solid rgba(81, 203, 238, 1);

}