.popup-form__input{
    outline: 0;
    border-width: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 358px;
    height: 14px;
    margin: 54px auto 0 auto;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.popup-form__input:nth-of-type(2){
    margin-top: 30px;
}
@media screen and (min-width: 320px) and (max-width: 1023px){
    .popup-form__input{
        width: 238px;
        margin-top: 75px;
    }
}
.popup-form__input:focus{
    box-shadow: 0 0 5px rgb(3, 96, 119);
}